@font-face{
    font-family: cloud-l;
    src:url(../fonts/Cloud-Light.otf);
}

@font-face{
    font-family: cloud-b;
    src:url(../fonts/Cloud-Bold.otf);
}

body{
    margin:0px;
    padding:0px;
}

h1,h2,h3,h4,h5{
    padding:0px;
    margin: 0px;
    font-family: cloud-b !important;
}

section{
    position: relative;
    float:left;
    width: 100%;
}

.jumbotron{
    /*background-color: #fff;*/
    width: 100%;
}


.fac-name{
    position: fixed;
    bottom: 25px;
    left:25px;
}


.fac-name h1, .fac-name h2{
    padding:0px;
    margin:0px;
    font-size: 16px;
}

.fac-name h1{
    color: #3c3c3c;
    font-family: cloud-b;
    
    padding-bottom: 5px;
}

.fac-name h2{
    color: #9e9e9e;
    font-family: cloud-l;
}


/* section 1 */
#section1{
    background-repeat: repeat;
    background-image: url(../images/section1.png);
}

#nav-btn{
    margin-top: 40px;
}

#menu{
    background:none;
    -webkit-box-shadow: none;
    box-shadow:none;
}

#navbar{
    margin-top: 30px;
    margin-right: 40px;
}

.logo{
    margin: auto;
    margin-top: 70px;
    width: 70%;
    padding-top: 50px;
}

.logo img{
    width:100%;
}

.time-date{
    margin-top:30px;
}

.time-date h1, .time-date h2{
    padding:0px;
    margin:0px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.jumbobuttons{
    margin-top: 40px;
    padding-bottom:40px;
    margin-bottom: 40px;
}

.btn-jumbo{
    color: #fff;
    font-size: 2em !important;
    font-family: cloud-b;
    padding: 15px 35px 15px 35px !important;
    border-radius: 100000px !important;
    /*margin-right: 30px;*/
    margin-left: 20px;
} 
.btn-blue{
    background-color: #62b4fe;
}

.btn-org{
    background-color: #fdc82c;
}


/* Section 2 */


#section2{
    height: 100vh;
}


.intro{
    text-align: center;
    margin:auto;
    width: 80%;
    position: relative;
    width: 100%;
}
.intro-word{
    width: 90%;
        padding: 50px;
        box-shadow: 1px 1px 1px #000;
    background-color: #fff;
}

.intro h1{
    width: 100%;
    font-size: 45px;
    position: relative;
}

.img-parallax{
    width: 300px;
    position: absolute;
}


.img-parallax img{
    width: 100%;
}

.img-parallax-1{
    left:0px;
}

.img-parallax-2{
    left: 0px;
    top: 100px;
}

.img-parallax-3{
    right: 0px;
}

.img-parallax-4{
    right: 0px;
    top: 100px;
}

/*section 3*/


#section3{
    padding-top:100px;
    padding-bottom:100px;
}
.card-item{
    z-index: 9;
    position: relative;
}

.card-item ul{

}

.card-item ul li{
    float: left;
}

.blue-screen{
    position: absolute;
    width: 100%;
    height: 50%;
    top:0px;
    left:0px;
    z-index: 1;
    background-color: #2986c9;
}