@font-face{
    font-family: cloud-l;
    src:url(../fonts/Cloud-Light.otf);
}

@font-face{
    font-family: cloud-b;
    src:url(../fonts/Cloud-Bold.otf);
}


*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
}

h1,h2,h3,h4,h5{
    padding:0px;
    margin: 0px;
    color: #231f20;
    font-family: cloud-b !important;
}


.white-color{
    color: #fff;
}

.white-bg-color{
    background-color: #fff;
}

.org-org{
    color: #fdc82c;
}

.org-bg-color{
    background-color: #fdc82c;
}

.blue-org{
    color: #62b4fe;
}

.blue-bg-color{
    background-color: #62b4fe;
}

.wrapper{
margin: 0 auto; 
width: 90%;
}

.wrapper-60{
    width: 60%;
    margin:auto;
}

section{
    position: relative;
    float:left;
    width: 100%;
}

.title{
    width: 100%;
    margin:0 auto;
    position: relative;
    z-index: 9;
    text-align: center;
    margin-bottom: 30px;
}

.title h1{
    position: relative;
    width:auto;
    font-size: 3.5em;
    margin-top: 10px;
}

.under-line{
    width: 100px;
    position: relative;
    height: 5px;
    margin: auto;
    border-radius: 10000000px;
    margin-top: 7px;
}

.jumbotron{
    /*background-color: #fff;*/
    width: 100%;
}


.fac-name{
    position: fixed;
    bottom: 25px;
    left:25px;
    transition: all 0.5s ease-in-out;
}


.fac-name h1, .fac-name h2{
    padding:0px;
    margin:0px;
    font-size: 16px;
}

.fac-name h1{
    color: #3c3c3c;
    font-family: cloud-b;
    
    padding-bottom: 5px;
}

.fac-name h2{
    color: #9e9e9e;
    font-family: cloud-l;
}


/* section 1 */
#section1{
    background-repeat: repeat;
    background-image: url(../images/section1.png);
    height: 100vh;
}

#nav-btn{
    margin-top: 40px;
}

#menu{
    background:none;
    -webkit-box-shadow: none;
    box-shadow:none;
}

#navbar{
    margin-top: 30px;
    margin-right: 40px;
}

.logo{
    margin: auto;
    margin-top: 70px;
    width: 70%;
    padding-top: 50px;
}

.logo img{
    width:100%;
}

.time-date{
    margin-top:30px;
}

.time-date h1, .time-date h2{
    padding:0px;
    margin:0px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.jumbobuttons{
    margin-top: 40px;
    padding-bottom:40px;
    margin-bottom: 40px;
}

.btn-jumbo{
    color: #fff;
    font-size: 2em !important;
    font-family: cloud-b;
    padding: 15px 35px 15px 35px !important;
    border-radius: 100000px !important;
    /*margin-right: 30px;*/
    margin-left: 20px;
} 
.btn-blue{
    background-color: #62b4fe;
}

.btn-org{
    background-color: #fdc82c;
}


/* Section 2 */


#section2{
    /* height: 100vh; */
    background-color: #fbfbfb;
}


.intro{
    text-align: center;
    margin:auto;
    width: 80%;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    /* margin-bottom: 400px; */
}
.intro-word{
    width: 100%;
    padding: 50px 50px 130px 50px;
    position: relative;
    z-index: 9;
    background-color: #fff;
    float: left;
    box-shadow: 0px -6px 43px rgba(0, 0, 0, 0.04);
    border-radius: 30px 30px 0px 0px;
}

.intro-word p{
    width: 80%;
    margin: auto;
    font-size: 20px;
    color: #444;
    text-align: left;
}

.qouet{
    position: absolute;
    top: -20px;
}


.qouet h1{
    color: #eaeaea;
    font-size: 15em !important;
    font-family: "Times New Roman", Times, serif !important;
}

.intro h1{
    width: 100%;
    font-size: 45px;
    position: relative;
}
.img-parallax{
    width: 100%;
    z-index: 1;
    /* position: absolute; */
    float: left;
    position: relative;
    height: 0;
}


.img-parallax img{
    width: 100%;
}

.img-parallax ul{

}

.img-parallax ul li{
    list-style: none;
    float: left;
    width: 35%;
    position: absolute;
    z-index: 9;
}

.img-parallax-1{
    left: 0px;
}


.img-parallax-2{
    right: -250px;
    top: -280px;
    transform: rotate(20deg);
    z-index: 9;
}
/*section 3*/


#section3{
    padding-top: 40px;
    padding-bottom:100px;
}

.blue-screen{
    position: absolute;
    width: 100%;
    height: 50%;
    top:0px;
    left:0px;
    z-index: 1;
    background-color: #2986c9;
}

.card-item{
    margin:auto;
    width: 21%;
    height: 440px;
    margin-left: 2.5%;
    margin-right: 1%;
    padding: 30px 50px 45px 50px;
    background-color: #fff;
    z-index: 9;
    position: relative;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 12pt;
    text-align: center;
    box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.19);
}

.card-item img{
    width: 60%;
    margin: auto;
}

.card-item h1{
    font-size: 20pt;
    padding:0px;
    margin-bottom: 0px;
    color: #607a93;
    font-family: cloud-b;
}

.card-item p{
    font-size: 13pt;
    color: #5d5d5d;
}

.card-btn{
    background-color: #fdc82c;
    border: none;
    margin-top: 10px;
    border-radius: 10000px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-family: cloud-b;
    font-size: 19pt;
}





/*section 4*/


#section4{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fdc82c;
}
.card-battle-item{
    background-color: #fff;
    border: 2px solid #ffffff;
    padding: 25px;
    margin: 20px 60px 20px 0px;
    min-height: 255px;
    width: 100%;
    background-size: cover;
    height: 280px;
    margin-right: 80px;
    background-position: right bottom;
    position: relative;
    z-index: 9;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 18px 3px rgba(0, 0, 0, 0.19);
    float: left;
}

.img-item-battle{
    position: absolute;
    z-index: 1;
    opacity: 0.1;
    bottom: -100px;
    width: 100%;
    text-align: center;
}

.img-item-battle img{
    width: 300px;
}
.text-item-battle{
    float: left;
    width: 100%;
    /* padding: 5px; */
    text-align: center;
    z-index: 2;
    position: relative;
}

.text-item-battle h1{
    font-size: 36px;
}

.text-item-battle p{
    /* width: 70%; */
    margin: auto;
}
#e-sport{
    position: relative;
    transition:all 0.5s ease;
    top:0px;
}

.battle-hover:hover{
    background-color: #fdc82c;
}


.battle-hover:hover .card-battle-btn{
    background-color: #231f20;
    
}

.bg-esport{
    position: absolute;
    z-index: 1;
    width: 100%;
    top:0px;
    height: 100%;
    opacity: 0;
    transition:all 1s ease;
    background-size: cover;
    background-image: url(../images/esport.jpg);
}

.bg-project-it{
    position: absolute;
    z-index: 1;
    width: 100%;
    top:0px;
    height: 100%;
    opacity: 0;
    transition:all 1s ease;
    background-size: cover;
    background-image: url(../images/project-it.jpg);
}


.card-battle-btn{
    background-color: #fdc82c;
    border: none;
    margin-top: 10px;
    border-radius: 10000px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-family: cloud-l;
    font-size: 19px;
    width: 70%;
    background-color: #62b4fe;
}

.under-line-battle{
    width: 50px;
    position: relative;
    height: 5px;
    margin: auto;
    border-radius: 10000000px;
    margin-top: 7px;
    transition:all 1s ease;
}






/*-- RESPONSIVE  --*/
@media screen and (max-width:1300px) {
    .card-item{
        width: 48%;
        float: left;
        margin-right: 2% !important;
        margin-bottom: 3% !important;
        margin: auto;
    }
    
    .blue-screen{
        height: 100%;
    }
}

@media screen and (max-width: 1024px){
    
    .card-battle-item{
        width: 100%%;
        float: left;
        margin-right: 2% !important;
        margin-bottom: 30px !important;
        margin: auto;
    }
}

@media screen and (max-width: 700px){
    .card-item{
        width: 100%;
        margin: auto;
    }

    .card-battle-item{
        width: 100%;
        margin: auto;
    }
}